.home_header {
    background-color: #cc927f;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}

/* .home_name {
    background-color: blue;
    border-radius: 2.3rem;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    top: 50%;
    left: 50%;
} */

/* .home_header h1 {
    font-weight: bold;
    font-size: 58pt;
    padding: 1rem 7rem;
} */

/* .home_header h2 {
    font-weight: bold;
    font-size: 32pt;
    padding: 1rem 10rem;
    margin-bottom: 2%;
} */

.home_img {
    padding: 0.8rem 1rem;
    width: 50%;
    height: 50%;
    border-radius: 5.3rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
